<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POST PUPPY</title>
  </head>
  <body>
    <form action="/display_puppy" method="POST">
      <p>Name: <input type="text" name="name"></p>
    </form>
  </body>
</html>
