<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HERES YOUR PUPPY</title>
  </head>
  <body>
    <h1>Name: <%=@puppy.name%></h1>
    <h1>Breed: <%=@puppy.breed%></h1>
    <h1>age: <%=@puppy.age%></h1>
  </body>
</html>
